style.
	@font-face {
		font-family: 'BebasNeue';
		font-weight: 800;
		font-style: normal;
		src: url(#{url}/fonts/BebasNeue-Bold.otf);
	}
	@font-face {
		font-family: 'CenturyGothic';
		font-weight: normal;
		font-style: normal;
		src: url(#{url}/fonts/CenturyGothic.ttf);
	}
	@font-face {
		font-family: 'CenturyGothic';
		font-weight: bold;
		font-style: normal;
		src: url(#{url}/fonts/CenturyGothic-Bold.ttf);
	}
	@font-face {
		font-family: 'CenturyGothic';
		font-weight: normal;
		font-style: italic;
		src: url(#{url}/fonts/CenturyGothic-Italic.ttf);
	}
	* {margin: 0;padding: 0;}
	ul {list-style: none;}
	body {font-family: 'CenturyGothic', Calibri, sans-serif;}
	body {margin:15px;font-size:15px;}
	li {margin-left: 20px;position:relative;}
	li:before {
		content: "☆";
		margin-left:-21px;
		margin-top:-1px;
		position:absolute;
	}
	p {margin: 16px 0;}
	h1,h2,h3,h4 {
		font-family: 'BebasNeue', Helvetica, sans-serif;
		font-weight: 800;
		font-size: 1.4em;
	}
	h3 {font-size: 1.7em; margin-top:50px;text-align:center;}
	h4 {margin-top:25px;margin-bottom:0px;margin-left:-6px;}
	.container {max-width:500px;width:100%;margin:0 auto;}
	@media all and (min-height:600px) and (min-width:700px) {
		.container {margin-top:100px;}
	}

.container
	p.
		Välkommen till spelet, #{name}. Nu är det dags att hålla sig nära klasskamraterna för du kan när som helst, var som helst bli tagen.
	p.
		Det är dags för dig att få ditt offer. Du visar ditt offer genom att logga in på sidan (http://vroelevkar.se) och ange din kod. Din kod är: <b>#{loginCode}</b>
	p.
		Nedan har du instruktionerna för spelet; hur du håller dig säker och hur du gör för att fånga dina offer.
	
	i LYCKA TILL!
	
	h3 🚩 INSTRUKTIONER - CATCHER 🚩
	
	h4 🚩 The Mission 🚩
	ul
		li Ta reda på vem ditt offer är (Facebook, Schoolity…)
		li Osäkra ditt vapen genom att placera dig själv, stilla, minst fem meter ifrån ditt offer och ropa ”Catcher” så att omgivningen hör.
		li Gå (spring) fram till ditt offer och antingen krama hen eller lägg båda dina händer på offrets axlar.
		li Båda ska därefter ta fram appen och markera sig som tagen respektive mission accomplished.
		li Om en dispyt skulle ske, kontakta spelledaren (Nikol Kanavakis) på niko.kana-2017@vrg.se eller i skolan. Tips! Samla vittnen.
	
	
	h4 🚩 Methods of Defense 🚩
	| Du kommer undan att bli tagen genom att:
	ul
		li Krama någon annan än din catcher innan hen hunnit krama dig
		li Genom att lämna skolbyggnaden (springa ut genom en ytterdörr)
		li Genom att nå en så kallad Safe Zone
	
	h4 🚩 Safe Zones 🚩
	ul
		li Sidh-salen och matsalskön (när det faktiskt är kö, inte annars...)
		li Hela våning fyra (där biblioteket ligger) samt trappan upp till våning fyra
		li UNDER LEKTIONSTID: Klassrum och grupprum – det är totalförbjudet att på något sätt störa en lektion!
		li Toalettområdena
		li Skolhälsan, lärarrum, rektorsrum och liknande
		li Hissar
		li Nödutgångar, nödtrappor och dylikt samt hela skolan i brandsituationer
	
	h4 🚩 Keep in mind! 🚩
	ul
		li Jakten får endast ske inuti skolbyggnaden (VRG OPL), dock ej i safe zones.
		li Om du misslyckat med ett mordförsök får du inte försöka igen på en halvtimme.
		li Du får inte ta fysisk hjälp av någon när du jagar. Du får alltså inte använda dig av en kompanjon som håller fast ditt offer, håller igen en dörr etc. Dock får både du och kompanjoner lura ditt offer på villovägar.
		li Visa hänsyn till skolans personal och lärare. Stör inte undervisning, rusa inte in i klassrum där det pågår lektion. Detta innebär omedelbar diskvalificering.
		li Spelledaren har rätt att när som helst ändra regler och diskvalificera spelare. Ställ dig därför sex meter snarare än vad du tror är fem meter bort när du ska ropa CATCHER, så att det inte råder några tvivelaktigheter att du var på tillräckligt avstånd för ditt mord.
		li Försök kom undan din fångare genom att spela smart och försiktigt. Du kan även försöka dölja din identitet. Nästan alla medel är tillåtna: hattar, förklädnader, hårfärgning, röstförvrängare. Heltäckande masker är dock förbjudet (förutom på Halloween)☆
	
	br
	i Catch’em all!
