doctype html
html
	head
		title #{title}
		// Initially created by Leonard Pauli, sep 2016
		
		//- Meta
		meta(charset="utf-8")
		meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
		
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name='robots' content='index, follow')
		
		include meta-seo

		link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
		link(rel="icon" href="/favicon.ico" type="image/x-icon")
		
		link(rel='stylesheet', href='/css/default.css')
		link(rel='stylesheet', href='/css/coat2.css')

		//- Helpers
		script(src="/js/helpers/jquery-3.1.0.min.js")
		script(src="/js/helpers/api.js")

		//- 
		script(src="/js/api.js")
		script(src="/js/general.js")
		script(src="/js/catcher.js")

	- dataPage = dataPage || 'none'
	- var loggedInClass = user ? 'logged-in' : 'logged-out'
	body(data-page='#{dataPage}' class='#{loggedInClass}').loading

		//- Header
		.topheader
			//- include header
			.center-header
				.menubutton(onclick="hidemenu()")
				a.logga(href="/lolxdxd")
				a.vrotxt(href="/lolxdxd") VRO ELEVKÅR
				.links
					//- a.link(href="/mat") Matsedel
					//- a.link(href="/karen") Kåren
					//- a.link(href="/mat") Om
				.log
					h2.logtxt Logga in
		.phonelinks(data-index=0)
		.mainhide(onclick="hidemenu()")

		//- .phonemenu(data-index=1)
		//- 	.phonelinks
		//- Main content

		.main-content
			//- include footer-made
			block mainContent
			//- if mainContent
			//- 	| !{mainContent}
			.creddiv
				p.credits Made by the VRO-Web Team, part of Kommunikationsutskottet - Webdesign primarily by Erik Enger Karlson, Backend primarily by Leonard Pauli and Jacob Tilly
				//.shine

		- var links = [[{name:'Matsedel', link:'mat'}],[{name:'Kåren'}, {name:'utskott', link:'utskott'}, {name:'Styrelsen', link:'styrelsen'}, {name:'Kommittéer', link:'kommitte'}],[{name:'Om', link:'om'}]]

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		
			ga('create', 'UA-85432260-1', 'auto');
			ga('send', 'pageview');

			$(window).scroll(function() {    
				var scroll = $(window).scrollTop();

				if (scroll >= 10) {
					$(".topheader").addClass("darkheader");
				} else {
					$(".topheader").removeClass("darkheader");
				}
			});

			var links = JSON.parse('!{JSON.stringify(links)}')

			for (i = 0; i < links.length; i++) {

				var temp

				if (links[i][0]["link"] != undefined){
					temp = document.createElement('a')
					temp.innerText = links[i][0].name

					temp2 = document.createElement('a')
					temp2.innerText = links[i][0].name
				} else {
					temp = document.createElement('div')
					temp.innerText = links[i][0].name

					temp2 = document.createElement('div')
					temp2.innerText = links[i][0].name

					for (e = 1; e < links[i].length; e++) {
						sub = document.createElement('a')
						sub.className = "sublink"
						sub.innerText = links[i][e].name
						sub.href = "/" + links[i][e].link
						temp.appendChild(sub)

						sub2 = document.createElement('a')
						sub2.className = "sublink p-sublink"
						sub2.innerText = links[i][e].name
						sub2.href = "/" + links[i][e].link
						temp2.appendChild(sub2)
					}
				}

				temp.className = "link"
				temp.href = "/" + links[i][0].link

				temp2.className = "link p-link"
				temp2.href = "/" + links[i][0].link

				document.querySelector(".links").appendChild(temp)
				document.querySelector(".phonelinks").appendChild(temp2)
			}

			var n = 0

			function hidemenu(){

				n++
				if(n > 1){
					n = 0
				}

				document.querySelector('.phonelinks').dataset.index = n

				if(n==1){
					document.querySelector('.mainhide').style.display = "block"
					document.querySelector('.menubutton').style.transform = "rotate(-180deg)"
				}else{
					document.querySelector('.mainhide').style.display = "none"
					document.querySelector('.menubutton').style.transform = "rotate(0deg)"
				}
				
			}