doctype html
html
	head
		title #{title}
		// Initially created by Leonard Pauli, sep 2016
		
		//- Meta
		meta(name="theme-color" content="#1f1f1f")
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="#1f1f1f")

		meta(charset="utf-8")
		meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
		
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name='robots' content='index, follow')
		
		include meta-seo

		link(rel="manifest" href="/manifest.json")

		link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
		link(rel="icon" href="/favicon.ico" type="image/x-icon")
		
		link(rel='stylesheet', href='/css/default.css')
		link(rel='stylesheet', href='/css/coat2.css')

		script.
			var componentTemplates = !{componentTemplatesString}

		script.
			var dataPage = '#{dataPage}'
			var subpage = dataPage == 'ettutskott'? "#{utskott}":
				dataPage == 'enkommitte'? "#{kommitte}":
				undefined
			if (subpage) subpage = subpage.toLowerCase()

		if jsFilesToLoad
			each fileName in jsFilesToLoad
				script(src="/js/#{fileName}.js")

	- dataPage = dataPage || 'none'
	- var loggedInClass = user ? 'logged-in' : 'logged-out'
	body(data-page='#{dataPage}')

		//- Header
		.topheader
			//- include header
			.center-header
				.menubutton(onclick="hidemenu()")
				a.logga(href="/")
				a.vrotxt(href="/") VRO ELEVKÅR
				.links

				if user
					.logged-in(onclick="User.logout()")
						.title= user.name
						.image(style="background-image: url(#{user.picture})")
				else
					#login-button.log
						h2.logtxt Logga in

		.phonelinks(data-index = 0)
		.mainhide(onclick="hidemenu()")

		//- .phonemenu(data-index=1)
		//- 	.phonelinks
		//- Main content
		- var links = [[{name:'Matsedel', link:'/mat'}],[{name:'Kåren'}, {name:'utskott', link:'/utskott'}, {name:'Styrelsen', link:'/styrelsen'}, {name:'Kommittéer', link:'/kommitte'}],[{name:'info'}, {name:'kåren', link:'/om'}, {name:'kårbrev', link:'https://drive.google.com/drive/u/1/folders/0B3_bZvfZoku-X2U3bjBqbFd1NFk'}, {name:'Protokoll', link:'https://drive.google.com/drive/folders/0B-UL6CSzT9I0bXUzUXVCRFNVZVk'}]]
		script.
			var links = JSON.parse('!{JSON.stringify(links)}')

			for (i = 0; i < links.length; i++) {
				var normalLink
				if(links[i][0]["link"] != undefined){
					var normalLink = document.createElement('a')
					normalLink.innerText = links[i][0].name

					var phoneLink = document.createElement('a')
					phoneLink.innerText = links[i][0].name
				}else{
					normalLink = document.createElement('div')
					normalLink.innerText = links[i][0].name

					var phoneLink = document.createElement('div')
					phoneLink.innerText = links[i][0].name

					var arrow = document.createElement('div')
					arrow.innerText = '▾'
					normalLink.appendChild(arrow)
					arrow.classList.add('linkArrow')

					var phoneArroq = document.createElement('div')
					phoneArroq.innerText = '▾'
					phoneLink.appendChild(phoneArroq)
					phoneArroq.classList.add('linkArrow')

					for (e = 1; e < links[i].length; e++) {
						sub = document.createElement('a')
						sub.className = "sublink"
						sub.innerText = links[i][e].name
						sub.href = links[i][e].link
						normalLink.appendChild(sub)

						sub2 = document.createElement('a')
						sub2.className = "sublink p-sublink"
						sub2.innerText = links[i][e].name
						sub2.href = links[i][e].link
						phoneLink.appendChild(sub2)
					}
				}

				normalLink.className = "link"
				normalLink.href = links[i][0].link

				phoneLink.className = "link p-link"
				phoneLink.href = links[i][0].link

				_(".links").appendChild(normalLink)
				_(".phonelinks").appendChild(phoneLink)
			}

		.extendHeader
			.shineheader

		.overlay#overlay-app(@click.self='closePanel')
			.lightbox
				.button.prev
				.button.next
				post-card(v-if='post', :post='post', @deleted='postWasDeleted', class="item", :expanded="true")


		.add-card.add-card-hidden(v-if='post')
			.plus +
			.content
				input.imageinput(type="file" accept="image/*")
				label.image.add-image(for='bild')
					.imagetext Lägg till en bild
				.info
					.text-content
						.textinputs
							.title.text-input(data-placeholder='Rubrik' contentEditable="true")
							.text.text-input(data-placeholder='Text' contentEditable="true")
					.options
						div.checkboxdiv.choice.add-choice
							input.checkbox(type='checkbox' id='prioritizedCheckbox')
							label.label2(for='prioritizedCheckbox') Prioriterad
						div.choice.publish.add-choice Publicera
			.close(onclick='closeAddCard()')
				.cross +

		.main-content
			//- include footer-made
			block mainContent
			//- if mainContent
			//- 	| !{mainContent}

		.creddiv(id='creddiv')
			p.credits By Kommunikationsutskottet - Made primarily by Erik Enger Karlson, Jacob Tilly and Leonard Pauli

		- var links = [[{name:'Matsedel', link:'mat'}],[{name:'Kåren'}, {name:'utskott', link:'utskott'}, {name:'Styrelsen', link:'styrelsen'}, {name:'Kommittéer', link:'kommitte'}],[{name:'Om', link:'om'}]]

		if !config.isDev
			script.
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			
				ga('create', 'UA-85432260-1', 'auto');
				ga('send', 'pageview');

		script(src="https://apis.google.com/js/api:client.js")
		script.
			var googleSigninClientId = '#{config.googleSigninClientId}'

		if !user
			script.
				var googleUser = {};

				function attachSignin(element) {
					auth2.attachClickHandler(element, {},
						function(_googleUser) {
							googleUser = _googleUser
							// alert("Signed in: " + googleUser.getBasicProfile().getName() + googleUser.getAuthResponse().id_token)

							User.authenticate({googleUserToken: googleUser.getAuthResponse().id_token}, function(err) {
								//console.log(err, api.currentUser)
								window.location.reload()
							})
						}, function(error) {
							alert(JSON.stringify(error, undefined, 2));
						});
				}

				gapi.load('auth2', function(){
					// Retrieve the singleton for the GoogleAuth library and set up the client.
					auth2 = gapi.auth2.init({
						client_id: googleSigninClientId,
						cookiepolicy: 'single_host_origin',
						// Request scopes in addition to 'profile' and 'email'
						//scope: 'additional_scope'
					});
					attachSignin(_('#login-button'));
				});


		script(src='/js/default.js')
		script(src='/js/post-functions.js')