doctype html
html
	head
		title #{title}
		// Initially created by Leonard Pauli, sep 2016
		
		//- Meta
		meta(charset="utf-8")
		meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
		
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name='robots' content='index, follow')
		
		include meta-seo

		link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
		link(rel="icon" href="/favicon.ico" type="image/x-icon")
		
		link(rel='stylesheet', href='/css/default.css')
		link(rel='stylesheet', href='/css/coat2.css')

		script.
			var dataPage = '#{dataPage}'
			var subpage = dataPage == 'ettutskott'? "#{utskott}":
				dataPage == 'enkommitte'? "#{kommitte}":
				undefined
			if (subpage) subpage = subpage.toLowerCase()

		if jsFilesToLoad
			each fileName in jsFilesToLoad
				script(src="/js/#{fileName}.js")

	- dataPage = dataPage || 'none'
	- var loggedInClass = user ? 'logged-in' : 'logged-out'
	body(data-page='#{dataPage}' class='#{loggedInClass}').loading

		//- Header
		.topheader
			//- include header
			.center-header
				.menubutton(onclick="hidemenu()")
				a.logga(href="/lolxdxd")
				a.vrotxt(href="/lolxdxd") VRO ELEVKÅR
				.links
					//- a.link(href="/mat") Matsedel
					//- a.link(href="/karen") Kåren
					//- a.link(href="/mat") Om
				a.log(href='/loginvro')
					h2.logtxt Logga in
		.phonelinks(data-index = 0)
		.mainhide(onclick="hidemenu()")

		//- .phonemenu(data-index=1)
		//- 	.phonelinks
		//- Main content
		- var links = [[{name:'Matsedel', link:'mat'}],[{name:'Kåren'}, {name:'utskott', link:'utskott'}, {name:'Styrelsen', link:'styrelsen'}, {name:'Kommittéer', link:'kommitte'}],[{name:'Om', link:'om'}]]
		script.
			var links = JSON.parse('!{JSON.stringify(links)}')

			for (i = 0; i < links.length; i++) {
				var temp;

				if (links[i][0]["link"] != undefined){
					temp = document.createElement('a')
					temp.innerText = links[i][0].name

					temp2 = document.createElement('a')
					temp2.innerText = links[i][0].name
				} else {
					temp = document.createElement('div')
					temp.innerText = links[i][0].name

					temp2 = document.createElement('div')
					temp2.innerText = links[i][0].name

					for (e = 1; e < links[i].length; e++) {
						sub = document.createElement('a')
						sub.className = "sublink"
						sub.innerText = links[i][e].name
						sub.href = "/" + links[i][e].link
						temp.appendChild(sub)

						sub2 = document.createElement('a')
						sub2.className = "sublink p-sublink"
						sub2.innerText = links[i][e].name
						sub2.href = "/" + links[i][e].link
						temp2.appendChild(sub2)
					}
				}

				temp.className = "link"
				temp.href = "/" + links[i][0].link

				temp2.className = "link p-link"
				temp2.href = "/" + links[i][0].link

				_(".links").appendChild(temp)
				_(".phonelinks").appendChild(temp2)
			}

		.extendHeader
			.shineheader

		.darkBackground

		.addplane
			.planebox
				.close
				input.imageinput(id='bild' type='file' accept="image/*")
				label.label(for='bild') Välj bild
				input.planeinput.titleinput(placeholder='Title')
				input.planeinput.bodyinput(placeholder='Body')
				input.planeinput.dateinput(placeholder='Body' type='date')
				.addChoose
					.choice.chooseSlide Är nu inte slide
					.choice.chooseNotify(style="display:none") Begär Notis
				.choice.publish Publicera
				.bottomPadding
			.close

		.addplane.postPlane
			.planebox.post-view
				.close
				.boxtop
					.image
				.info
					.gradient-border
					.gradient-border.gradient-bottom
					.hide-scroll
					.container
						h2.header hej ock så där gd fgf df gds fg sdf
						p.text  df sd   fsdfdsf sdf d fsd fsd sd f fs dsd gsd dfsf sd fsd f fasdf asdf asdf asdf asdf asdf adsf sd fasd sdf asf asdf asdf sadf saf asdf saf sdaf sdf as fasd fasdf asdf asdf asfsdf sadf asdf asdf asdf asdf asdf saf asdf asdf asf dsf sadfasd asf sdf gsdfg dfg dfgdfggd gs  gdfg sdfgdgfdg df gdfg fgdsfg sd d fg sdf gsdfg dg sf dsg dsfg dsgdfg gfddsfg sdg fdgsdg sdg dsfg sdf gds df dfs df g d fs g gsdfg dfg ds gd 

		.main-content
			//- include footer-made
			block mainContent
			//- if mainContent
			//- 	| !{mainContent}
		.creddiv(id='creddiv')
			p.credits By VRO-Web, part of Kommunikationsutskottet - Made primarily by Erik Enger Karlson, Jacob Tilly and Leonard Pauli
			//.shine

		- var links = [[{name:'Matsedel', link:'mat'}],[{name:'Kåren'}, {name:'utskott', link:'utskott'}, {name:'Styrelsen', link:'styrelsen'}, {name:'Kommittéer', link:'kommitte'}],[{name:'Om', link:'om'}]]

		if !config.isDev
			script.
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			
				ga('create', 'UA-85432260-1', 'auto');
				ga('send', 'pageview');
			
		script.
			var menuVisible = false
			function hidemenu(){
				menuVisible = !menuVisible

				_('.phonelinks').classList.toggle('visible', menuVisible)
				var mainhideStyle = _('.mainhide').style

				if (menuVisible) {
					mainhideStyle.display = "block"
					setTimeout(function(){mainhideStyle.opacity = ".9"},10)
					_('.menubutton').style.transform = "rotate(-180deg)"
					_('.creddiv').style.bottom = "0px"
				} else {
					mainhideStyle.opacity = "0"
					setTimeout(function(){mainhideStyle.display = "none"},200)
					_('.menubutton').style.transform = "rotate(0deg)"
					_('.creddiv').style.bottom = "-50px"
				}
			}

			if (window.matchMedia("(max-width: 500px)").matches) {
				_('.credits').innerHTML = _('.credits').innerHTML.replace(/ - /g,"<br>").replace(/n, /g,"n<br>")
			}
			if(pageinfo){
				changeFromColor(!subpage?pageinfo.color:
					(subpageinfo?subpageinfo.color:'#222222'))
			}

			var isSlide = false
			addTapEvent(_('.chooseSlide'),defineType)
			function defineType(){
				isSlide = !isSlide
				_('.chooseSlide').innerText = isSlide? 'Är nu slide': 'Är nu inte slide'
			}

			var isNotafication = false
			addTapEvent(_('.chooseNotify'),isNotafication)
			function defineNotify(){
				isNotafication = !isNotafication
				if(isNotafication){
					_('.chooseSlide').innerText = 'Notis begärd'
				}else{
					_('.chooseSlide').innerText = 'Begärd notis'
				}
			}

			addTapEvent(_('.publish'), function(){
				addObject()
			})

			var savedFile = {}
			function addObject(){
				var sendBtn = _('.choice.publish')
				var input = _('input.imageinput#bild')
				var file = input.files[0]
				if (!file) return alert('No file was added')

				var aborted = function(msg) {
					alert(msg)
					sendBtn.innerText = 'Publicera'
					console.error(err)
				}

				var uploadPost = function(imgUrl) {
					var post = new Post()
					post.title = _('.titleinput').value
					post.text = _('.bodyinput').value
					post.isSlide = isSlide
					post.imgUrl = imgUrl
					post.save(function(err) {
						if (err) return aborted(err)
						//alert('Publicerad!')

						closePanel()
						cleanPlane()
						isSlide = false
						sendBtn.innerText = 'Publicera'
						_('.chooseSlide').innerText = 'Är nu inte slide'
						window.location.reload()
					})
				}

				var callback = function(err, info, all) {
					if (err) return aborted(err)
					if (info.warnings) {
						info.warnings.forEach(console.warn)
						alert('Problem kan ha uppstått; observera:\n'+info.warnings.join('\n'))}
					if (!info.files.length) return aborted('No files uploaded')

					var upploadedFileURL = info.files[0]
					savedFile = info.files[0]

					uploadPost(savedFile.url)
				}
				var progress = function(procent) {
					//console.log('Upload is '+Math.round(procent*100)+' complete')
					sendBtn.innerText = 'Publicerar ('+Math.round(procent*97)+')'
				}

				if (file.name == savedFile.name) {
					uploadPost(savedFile.url)
				} else api.fileUpload(file, callback, {progress:progress})
			}

			var close = document.querySelectorAll('.close')
			for (q = 0; q < close.length; q++){
				addTapEvent(close[q], closePanel)
			}
			addTapEvent(_('.darkBackground'), closePanel)

			function closePanel(){
				var plane = document.querySelectorAll('.addplane')
				document.body.classList.remove("dark-body")
				for (q = 0; q < plane.length; q++){
					plane[q].classList.remove("show-plane")
				}
			}