extend ../default2
block mainContent

	.header.utskottheader
		.shineheader.extrashine
		h1.headertext.utskottheadtext #{utskott} utskottet
	.loggacenter
		.utskotttextfalt
			h2.arbeterubrik.utskottrubrik Vad vi arbetar med
			.center
				p.arbete.utskottinfo
			h2.hjalprubrik.utskottrubrik Vad vi kan hjälpa dig med
			.center
				p.hjalp.utskottinfo
		<br>

	script.
		var utskott = [
			{name:'Tradition',color:'#C42C00',
			arbete:'• Fira traditioner och sprida traditionsglädje i skolan, samt öka gemenskapen mellan eleverna<br>• Fira internationella traditioner och därmed även mer gemenskap och förståelse för andra kulturer Ha kul!',
			hjalp:'• Kom med förslag till oss (!) om det är någon traditioner du vill fira/anser att vi bör fira, från vilken kultur/religion/land spelar ingen roll<br>• Alltid öppna för feedback och förslag på hur vi ska fira traditionerna också'},

			{name:'Sociala',color:'#ED588D',
			arbete:'• Roliga temadagar och event som till exempel SUIT-UP Day, Insparken och VRG-Kampen. <br>• Klasspokalen, en tävling mellan klasserna på skolan. Under läsårets gång får man möjlighet att samla in poäng till tävlingen som pågår ända tills slutet av läsåret. <br>• Att din tid här på skolan ska bli så rolig som möjligt!',
			hjalp:'• Att förgylla din skoltid med massa roliga aktiviteter som gör att vi alla kan bli närmare vänner på skolan<br>• Att få din idé igenom. Om du har ett önskemål, exempelvis att du skulle vilja ha temadagen: Pyjamasparty eller något annat. HÖR AV DIG! Vi älskar nya idéer'},

			{name:'Kommunikation',color:'#0A7BFF',
			arbete:'• Vi ser till att information om allt det som elevkåren gör och arrangerar når ut till medlemmarna<br>• Detta genom att hålla igång alla olika media plattformer samtidigt som vi utvecklar de kanaler vi har!',
			hjalp:''},

			{name:'Finansiella',color:'#AB47CB',
			arbete:'',
			hjalp:''},

			{name:'Miljö',color:'#78A942',
			arbete:'• Vi ökar miljömedvetenheten hos alla på skolan genom att sprida information om miljön<br>• Genom alla möjliga medel försöker vi minska skolans, elevernas och personalens miljöpåverkan.',
			hjalp:'• Om du reagerar på något inom skolan där du tycker miljötänket är för dåligt<br>• Om du vill lyfta fram något till skolan gällande miljö'},

			{name:'Påverkan',color:'#DD9400',
			arbete:"• Debatter, både bland elever och politiska partier<br>• Förmedla dina åsikter till de som ska höra dem<br>• Hjälpa dig påverka din skolgång så mycket som möjligt!",
			hjalp:'• Har du frågor kring elevrätt, känner du dig orättvist behandlad av en lärare, hör av dig till oss!<br>• Har du något du vill ändra i skolan, säg till!'},

			{name:'Student',color:'#707070',
			arbete:'',
			hjalp:''}
		]

		function blendColors(c0, c1, p) {
			var f=parseInt(c0.slice(1),16),t=parseInt(c1.slice(1),16),R1=f>>16,G1=f>>8&0x00FF,B1=f&0x0000FF,R2=t>>16,G2=t>>8&0x00FF,B2=t&0x0000FF;
			return "#"+(0x1000000+(Math.round((R2-R1)*p)+R1)*0x10000+(Math.round((G2-G1)*p)+G1)*0x100+(Math.round((B2-B1)*p)+B1)).toString(16).slice(1);
		}		

		var num
		var val = "#{utskott}"

		for (i=0; i<utskott.length; i++){

			if (utskott[i].name.toLowerCase() == val){

				document.querySelector(".utskottheader").style.backgroundColor = utskott[i].color
				document.querySelector(".arbete").innerHTML = utskott[i].arbete
				document.querySelector(".hjalp").innerHTML = utskott[i].hjalp

				if (window.matchMedia("(max-width: 500px)").matches) {
					document.querySelector('.utskottheadtext').style.color = utskott[i].color
					document.querySelector(".utskottheader").style.backgroundColor = "transparent"
				}

				if(utskott[i].arbete == ''){
					document.querySelector('.arbeterubrik').style.display = "none"
				}else{
					document.querySelector('.arbeterubrik').style.color = blendColors(utskott[i].color, "#000000", 0.3)
				}

				if(utskott[i].hjalp == ''){
					document.querySelector('.hjalprubrik').style.display = "none"
				}else{
					document.querySelector('.hjalprubrik').style.color = blendColors(utskott[i].color, "#000000", 0.3)
				}

				bild = document.createElement('div')
				bild.className ="utskottbildbottom"
				bild.style.backgroundColor = utskott[i].color
				bild.style.webkitMaskBoxImage = "url('/images/" + utskott[i].name + ".png')"
				document.querySelector('.loggacenter').appendChild(bild)


			}
			
		}

		if("#{utskott}".localeCompare("kommunikation") ===  0 || "#{utskott}".localeCompare("tradition") === 0){
			document.querySelector('.utskottheadtext').innerText = "#{utskott}s utskottet"
		}