extend ../default
block mainContent

	if user
		- var catchCountExc = Array(catchCount||0).fill('!').join('')
		if target
			h1 Homepage
			p.statustext Welcome, #{user.firstName}#{catchCountExc}
			- var classNameText = (c=>c?'in class '+c:'')(target.className)
			p.statustext Your victim is #{target.name} #{classNameText}
		
			a(href="die").die
				.label I was caught
			a(href="catch").catch
				.label I caught #{target.firstName}

			if !catchCount
				div.warning
					h1.waringheadline Warning!
					p.warningtext
				script.
					var warningtextEl = document.querySelector(".warningtext")
					var warningEl = document.querySelector(".warning")
	
					function calculateWarningtextEl(){
						var todate = 25
		
						var d = new Date();
						var daysleft = todate - d.getDate()
						var hoursleft = 24 - d.getHours()
						var minutesleft = 60 - d.getMinutes()
						warningtextEl.innerText = "You will be eliminated unless you catch within " + daysleft + " days, " + hoursleft + " hours and " + minutesleft + " minutes"}
	
					setTimeout(function() {
						calculateWarningtextEl()
						warningEl.classList.add('show')
						setInterval(calculateWarningtextEl, 1000);
					}, 400)
			
		else
			h1 RIP
			iframe(src="catcher-visualization.html")
			p.statustext You have been eliminated... for now. But what's better than being able to watch the living from above..?#{catchCountExc}
			style.
				.main-content {height:600px !important;}

	else
		h1 Catcher
		p.
			#[br]Redo att se ditt offer?
			#[br]Tiden är kommen.
		a(href="login").login-btn Logga in

