extend ../default
block mainContent
	// Main page; after logged in
	// Returned to from success

	if user
		h1 Homepage #{name}
		
		if target
			p.statustext Welcome, #{user.firstName}
			- var classNameText = (c=>c?'in class '+c:'')(user.catcher.target.className)
			p.statustext Your victim is #{user.catcher.target.name} #{classNameText}
		
			a(href="#").die
				.label I was caught
			a(href="/catch").catch
				.label I caught #{target.firstName}
			
		else
			h1 RIP
			p You're dead.
	else
		h1 Catcher
		p.
			Detta spel vrg so much fun
		a(href="login") Logga in